@import 'tailwindcss';

:root {
  --background: #f7f7f8;
  --foreground: #ffffff;
  --border: #e7e7ea;
  --ink: #16171a;
  --muted: #6b6d76;
  --accent: #4b4fe0;
  --accent-hover: #3d40c4;
  --like: #e8456b;
  --like-hover: #c72e55;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #16171a;
    --foreground: #1f2024;
    --border: #2c2d31;
    --ink: #f7f7f8;
    --muted: #a0a0a0;
    --accent: #4b4fe0;
    --accent-hover: #3d40c4;
    --like: #e8456b;
    --like-hover: #c72e55;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ink: var(--ink);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-like: var(--like);
  --color-like-hover: var(--like-hover);
  --font-sans: var(--font-space-grotesk);
}

body {
  background-color: var(--background);
  color: var(--ink);
  font-family: var(--font-space-grotesk);
}

.btn {
  @apply inline-flex items-center gap-1 font-medium transition-colors outline-none disabled:opacity-50 disabled:pointer-events-none cursor-pointer;

  &.btn-primary {
    @apply bg-accent hover:bg-accent-hover;
  }

  &.btn-secondary {
    @apply bg-muted hover:bg-ink;
  }

  &.btn-ghost {
    @apply bg-transparent hover:bg-muted/25;
  }

  &.btn-danger {
    @apply bg-like hover:bg-like-hover;
  }

  &.btn-small {
    @apply px-2 py-1 text-sm;
  }

  &.btn-medium {
    @apply px-4 py-2 text-base;
  }

  &.btn-large {
    @apply px-6 py-3 text-lg;
  }

  &.btn-align-start {
    @apply justify-start;
  }

  &.btn-align-center {
    @apply justify-center;
  }

  &.btn-align-end {
    @apply justify-end;
  }

  &.btn-rounded-none {
    @apply rounded-none;
  }

  &.btn-rounded-sm {
    @apply rounded-sm;
  }

  &.btn-rounded-md {
    @apply rounded-md;
  }

  &.btn-rounded-lg {
    @apply rounded-lg;
  }

  &.btn-rounded-full {
    @apply rounded-full;
  }
}

.post-tag,
.post-mention,
.post-link {
  @apply text-accent font-bold;
}

.post-tag:before {
  @apply content-['#'];
}

.post-link {
  @apply hover:underline;
}

.post-item:not(:has(button:hover, a:hover)) {
  @apply hover:bg-foreground transition-colors;
}

.input {
  @apply w-full border rounded-md outline-none border-border focus:border-accent my-1 bg-background;

  &.input-small {
    @apply text-sm px-2 py-1;
  }

  &.input-medium {
    @apply text-base px-3 py-2;
  }

  &.input-large {
    @apply text-lg px-6 py-3;
  }

  &[type='password'] {
    @apply pr-7;
  }

  &.input-error {
    @apply border-like;
  }
}

.tippy-box {
  all: unset !important;
}

.tippy-content {
  all: unset !important;
}

.tippy-arrow {
  display: none !important;
}
